.contact-form {
  margin-top: 26px;

  &::after {
    content: "";
    position: absolute;
    background-color: @basic-green;
    width: 90%;
    height: 2px;
    top: 15px;
    right: 0;

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 79px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 39px;
    margin-bottom: 3px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.contact-form__title {
  background-color: @basic-white;
  z-index: 1;
  width: 203px;

  @media (min-width: @tablet-width) {
    width: 554px;
    padding-left: 38px;
  }
}

.contact-form__list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    .wrapper(93%);
    margin-top: 82px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1220px);
    flex-direction: row;
    justify-content: space-between;
    column-gap: 56px;
    margin-top: 81px;
  }
}

.contact-form__label {
  color: @special_dark-grey;

  &--width {
    @media (min-width: @desktop-width) {
      padding-left: 21px;
    }
  }
}

.contact-form__item {
  margin-bottom: 11px;
  display: flex;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.contact-form__data {
  text-transform: uppercase;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 5px;
  .border-grey;
  flex-grow: 1;
  margin-left: 11px;
  font-size: 16px;
  .main-fonts;
  box-sizing: border-box;
  height: 45px;

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 94% 50%;

    &:disabled {
      background-image: url("../img/icon-mail-green.svg");
      background-color: transparent;
      border: 2px solid @special_dark-grey;
      padding-left: 13px;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    &:invalid {
      background-image: url("../img/icon-mail-red.svg");
    }
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 94% 50%;

    &:disabled {
      background-image: url("../img/icon-phone-green.svg");
      background-color: transparent;
      box-shadow: 0 0 0 2px @special_dark-grey;
    }

    &:invalid {
      background-image: url("../img/icon-phone-red.svg");
    }

    @media (min-width: @desktop-width) {
      background-position: top 14px right 15px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-left: 23px;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-left: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 463px;
  }

  &--width {
    @media (min-width: @tablet-width) {
      padding-left: 15px;
    }

    @media (min-width: @desktop-width) {
      width: 450px;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px @special_dark-grey;
  }

  &:invalid {
    box-shadow: 0 0 0 2px @error-red;
  }
}

.contact-form__shift {
  display: none;

  @media (max-width: @mobile-width-only) {
    display: block;
  }
}
